doctype html
html
  head
    title= title
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet" href="/components/bootstrap/css/bootstrap.min.css")
    script(src="/components/jquery/jquery.min.js")
    script(src="/components/jquery/purl.js")
    script(src="/components/tether/js/tether.min.js")
    script(src="/components/bootstrap/js/bootstrap.min.js")
  body
    block content
